xml/schema_complexType_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="shuben" type="shubenleixing"/>
	<xs:complexType name="shubenleixing">
		<xs:sequence>
			<xs:element name="mincheng" type="xs:string"/>
			<xs:element name="zuozhe" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
